@model IEnumerable<Article>

<a href="/Management/Article/Create">Yeni Ekle</a>
<div class="card radius-15">
    <div class="card-body">
        <div class="card-title">
            <h4 class="mb-0">Makaleler</h4>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Başlık</th>
                        <th scope="col">Yazar</th>
                        <th scope="col">Konu</th>
                        <th>Eklenme Tarihi</th>
                        <th>Güncelleme Tarihi</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.Title</td>
                            <td>@item.Author</td>
                            <td>@item.Subject</td>
                            <td>@item.CreatedDate</td>
                            <td>@item.UpdatedDate</td>
                            <td><a class="btn btn-warning" href="/Management/Article/Edit/@item.Id">Düzenle</a>
                            <a class="btn btn-danger" href="/Management/Article/Delete/@item.Id">Sil</a>
                            <a class="btn btn-success" href="/Management/Article/Details/@item.Id">Detay</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>