@model IEnumerable<Skill>
<a href="/Management/Skill/Create">Yeni Ekle</a>
<div class="card radius-15">
    <div class="card-body">
        <div class="card-title">
            <h4 class="mb-0">Yetenekler</h4>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Başlık</th>
                        <th scope="col">Açıklama</th>
                        <th scope="col">Puan</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.Title</td>
                            <td>@item.Description</td>
                            <td>@item.Score</td>

                            <td>
                                <a class="btn btn-warning" href="/Management/Skills/Edit/@item.Id">Düzenle</a>
                                <a class="btn btn-danger" href="/Management/Skills/Delete/@item.Id">Sil</a>
                                <a class="btn btn-success" href="/Management/Skills/Details/@item.Id">Detay</a>
                                <button class="btn btn-primary" onclick="deleteitem(@item.Id)">Sil</button>

                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

@section ScriptSection
{
    <script>
        function deleteitem(id) {
            if (confirm("Silmek istediğinize emin misiniz?") == true) {
                $.ajax({
                    type: "POST",
                    url: "/Management/Skills/DeleteWithJs/" + id,
                    data: null,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        alert(response)
                        location.reload();
                    },
                    failure: function (response) {
                        alert(response);
                    },
                    error: function (response) {
                        alert(response);
                    }
                });
            }
        }
    </script>
}